h1 {
  color: purple;
}

.error {
  color: red;
  background: lightgray;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.info {
  color: green; 
  background: lightgray;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.blogList {
  color: black;
}

.blog {
  padding-top: 10;
  padding-left: 2;
  border: 'solid';
  border-width: 1;
  margin-bottom: 5;
}

.blogList {
  padding: 3px;
  margin-top: 10px;
  text-decoration: none;
  color: black;
  border: 'solid'; 
  border-width: 1;
}
